# Build artifacts
*.o
*.obj
*.ko
*.lo
*.la
*.so
*.so.*
*.a
*.lib
*.dll
*.dylib
*.exe
*.out
*.app
*.prl
*.exp
*.ilk
*.pdb
*.idb
*.res
*.core
Makefile*
*build-*
debug/
release/
build/

# Qt/Qt Creator specific files
.qtcreator/
*.pro.user
*.pro.user.*
*.qbs.user
*.qbs.user.*
*.autosave
moc_*.cpp
moc_*.h
qrc_*.cpp
ui_*.h
*.qmlc
*.jsc
.qmake.cache
.qmake.stash
CMakeLists.txt.user*
compile_commands.json
*.qm
target_wrapper.*

# Temporary files
*~
*.bak
*.swp
.DS_Store
Thumbs.db
*.log
.#*
*.*#

# IDE specific files (e.g., Visual Studio, Xcode)
# Visual Studio
*.suo
*.user
*.vcproj.*.user
*.vcxproj.*.user
*.sdf
*.opensdf
*.ncb
*.vshost.exe
*.vshost.exe.manifest
*.vspscc
*.vssscc
*.build.log
*.ipch
*.aps
*.manifest
*.tlog
*.lastbuildstate
*.obj.log
*.filters
*.vcxproj.filters
*.sln.docstates

code/build/*

# Xcode (if applicable)
build/
*.pbxuser
*.mode1v3
*.xcuserstate
*.perspectivev3
*.xcbkpt
*.xcworkspace
!default.xcworkspace
*.xcuserdatad
